[submodule "src/client/pages/L6ROQ/Blackbox Video Exporter"]
	path = src/client/pages/L6ROQ/Blackbox Video Exporter
	url = https://github.com/Bricktech2000/Blackbox-Video-Exporter
[submodule "src/client/pages/JMU9L/Neumorphic-Design"]
	path = src/client/pages/JMU9L/Neumorphic-Design
	url = https://github.com/Bricktech2000/Neumorphic-Design
