<style style="display: none;">
  .mosaic-full{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--smart-res-unit) * 25), 1fr));
    /*grid-auto-rows: min(33vh);*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout*/
    grid-auto-flow: dense;
  }
	/*Portrait*/
	@media (max-aspect-ratio: <<<yield consts.portrait>>>){
    .mosaic-full{
      grid-template-columns: 1fr;
    }
  }
</style>
<div class="mosaic-full">
  <<
    var ids = params.ids.slice();
    yield  include('/body/partial/list.html', {
      incl: 'card.html',
      //https://medium.com/@wisecobbler/4-ways-to-populate-an-array-in-javascript-836952aea79f
      params: new Array(ids.length).fill(null).map(function(){return {
        id: ids.shift(),
        dir: Math.random() > .5 ? 'row' : 'col',
        inv: Math.random() > .5,
      }})
    })
  >>
</div>
