<style style="display: none;">
  .mosaic-full{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--smart-unit) * 40), 1fr));
    /*grid-auto-rows: min(33vh);*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout*/
    grid-auto-flow: dense;
  }
	/*Portrait*/
	@media (max-aspect-ratio: <<<yield consts.portrait>>>){
    .mosaic-full{
      grid-template-columns: 1fr;
    }
  }
</style>
<div class="mosaic-full">
  <<yield params.items>>
</div>
<<
  /* auto-update card mosaic */
  var calcGrid = () =>{
    var mosaic = document.querySelector('.mosaic-full');
    var gridTempCols = window.getComputedStyle(mosaic).gridTemplateColumns.split(' ');
    if(gridTempCols[0] != gridTempCols[1])
      reUpdate.watch.cardForcePortrait = true;
    else
      reUpdate.watch.cardForcePortrait = false;    
  }
  window.addEventListener('load', calcGrid);
  window.addEventListener('resize', calcGrid);
>>
