.card{
  --padding: calc(var(--smart-unit) * 2.5);
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 0;
  align-items: center;
  position: relative; top: 0;
  
  margin: calc(var(--smart-unit) * 1.25);
  background: var(--card-bg);
  transition: opacity .25s ease-in-out, background-color 0.25s ease-in-out, top 0.25s ease-in-out;
  border-radius: calc(var(--smart-unit) * .5);
  text-decoration: none;
  color: var(--text);
  white-space: initial;
  box-shadow: var(--bs);
  /*border: calc(var(--smart-unit) * .5) solid var(--text);*/
  
  & > *{ grid-column: span 2; white-space: initial; margin: var(--padding); }
  .date{ grid-column: span 1; }
  img{
    margin: 0;
    width: 100%;
    border-radius: calc(var(--smart-unit) * .5);
  }
  img{ grid-area: img; align-self: flex-start; }
  .title{ grid-area: title; }
  .desc{ grid-area: desc; }
  .tags{ grid-area: tags; align-self: flex-end; }
	&:hover .markup-h2{ color: var(--color); }
	&:hover{ top: calc(var(--smart-unit) * -1); }
}
