<<<
  //import fetch from 'node-fetch';
  //const fetch = require('node-fetch');
  //https://javascript.info/modules-dynamic-imports
  const fetch = (await import('node-fetch')).default;
  var words;
  if(params.opr == 'search'){
    query = encodeURIComponent(params.tags[0].replace(/ /g, '+'));
    //https://www.datamuse.com/api/
    var res = await fetch('https://api.datamuse.com/words?ml=' + query);
    var text = await res.text();
    _words = JSON.parse(text);
    words = [];
    for(var word of _words)
      if(word.score >= 40000) words.push(word);
    _words = params.tags[0].split(' ');
    for(var word of _words)
      words.push({word: word, score: 100000});
  }
  var ids = JSON.parse((await include('../../pages/pages.json')).text);
  var scores = [];
  for(var id of ids){
    var score = params.opr == 'and' ? 1 : 0;
    var info = JSON.parse((await include('../../pages/' + id + '/info.json')).text);
    for(var paramTag of params.tags){
      var match = false;
      for(var infoTag of info.tags){
        switch(params.opr){
        case 'or':
          if(infoTag == paramTag) score = 1;
          break;
        case 'and':
          if(infoTag == paramTag) match = true;
          break;
        case 'like':
          if(infoTag == paramTag) score++;
          break;
        case 'search':
          var str = '';
          str += (await include('../../pages/' + id + '/info.json')).text;
          str += (await include('../../pages/' + id + '/index.md')).text;
          var scr = 0;
          function escapeRegExp(string) {
            return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&'); // $& means the whole matched string
          }
          for(var word of words)
            //https://stackoverflow.com/questions/4009756/how-to-count-string-occurrence-in-string
            scr += (str.match(new RegExp(escapeRegExp(word.word), 'gi')) || []).length * Math.pow(word.score, 2) / str.length;
          score += scr;
        break;
        }
      }
      if(params.opr == 'and' && !match) score = 0;
    }
    scores.push({id: id, score: score});
    //yield await include(params.incl, param);
  }
  var sortedScores = scores.sort(function(element1, element2){
    if(element1.score == element2.score) return 0;
    else return element1.score < element2.score ? 1 : -1;
  });
  var sortedIds = [];
  var max = params.max;
  for(var i = 0; i < max && i < sortedScores.length; i++)
    if(params.excl == 'zero' && sortedScores[i].score == 0 ||
      sortedScores[i].id == params.excl) max++;
    else sortedIds.push(sortedScores[i].id);
  yield JSON.stringify(sortedIds);
>>>


<<</*yield include('list-cards.html', {
  opr: 'or' | 'like',
  tags: ['ASDF'],
  max: 4,
})*/>>>
