<style>
  .subscribe-container{
    display: inline-flex;
    width: auto;
    align-items: center;
    cursor: pointer;
  }
  .subscribe-container p{
    display: inline-block;
    margin: calc(var(--smart-unit) * 2);
  }
  .toggle-container{
    display: inline-block;
    width: calc(var(--smart-unit) * 6);
    height: calc(var(--smart-unit) * 3);
    border-radius: 100vh;
    background: var(--card2-bg);
    box-shadow: var(--bs);
    transition: background-color .125s ease-in-out;
  }
  .toggle-thumb{
    display: inline-block;
    width: calc(var(--smart-unit) * 3);
    height: calc(var(--smart-unit) * 3);
    border-radius: 100vh;
    background: var(--title);
    box-shadow: var(--bs);
    transition: margin-left .125s ease-in-out;
  }
  .subscribe-container.active .toggle-thumb{
    margin-left: calc(var(--smart-unit) * 3);
  }
  .subscribe-container.active .toggle-container{
    background: var(--color-l);
  }
</style>
<div class="subscribe-container">
  <div class="toggle-container">
    <div class="toggle-thumb"></div>
  </div>
  <p>Receive Notifications</p>
</div>
<<
  //https://pusher.com/tutorials/push-notifications-node-service-workers
  function urlBase64ToUint8Array(base64String){
    const padding = '='.repeat((4 - base64String.length % 4) % 4);
    const base64 = (base64String + padding).replace(/-/g, '+').replace(/_/g, '/');

    const rawData = window.atob(base64);
    const outputArray = new Uint8Array(rawData.length);

    for(let i = 0; i < rawData.length; ++i)
      outputArray[i] = rawData.charCodeAt(i);
    return outputArray;
  }

  var vapidDetails = {};
  vapidDetails.public = (await include('/public_vapid.key')).text.trim();
  var subscribed = localStorage.getItem('subscription') == 'true';
  var button = document.getElementsByClassName('subscribe-container')[0];

  button.onclick = () => {
    if(subscribed) unsubscribe();
    else subscribe();
    subscribed = !subscribed;
    localStorage.setItem('subscription', subscribed ? 'true' : 'false');
    updateToggle();
  }
  var updateToggle = () => {
    if(subscribed) button.classList.add('active');
    else button.classList.remove('active');
  }
  updateToggle();
  var subscribe = async () => {
    if('serviceWorker' in navigator){
      navigator.serviceWorker.register('/sw.js', {
        scope: '/',
      }).then(async register => {
        //https://stackoverflow.com/questions/39624676/uncaught-in-promise-domexception-subscription-failed-no-active-service-work/39673915
        if(!register.active) return;
        var subscription = await register.pushManager.subscribe({
          userVisibleOnly: true,
          applicationServerKey: urlBase64ToUint8Array(vapidDetails.public),
        });
        await fetch('/subscribe', {
          method: 'POST',
          body: JSON.stringify(subscription),
          headers: {
            'Content-Type': 'application/json',
          },
        });
      });
    }
  }
  var unsubscribe = async () => {
    if('serviceWorker' in navigator){
      //https://love2dev.com/blog/how-to-uninstall-a-service-worker/
      var registrations = await navigator.serviceWorker.getRegistrations();
      registrations[0].unregister();
    }
  }
>>
<<<
  const _fs = await import('fs');
  const fs = _fs.promises;
  const webPush = (await import('web-push')).default;
  consts.sendNotification = async (data) => {
    var subscriptions = JSON.parse(await fs.readFile('./server/subscriptions.json'));
    payload = JSON.stringify(data);
    for(var key of Object.keys(subscriptions))
      webPush.sendNotification(subscriptions[key], payload)
        .catch(err => { console.log(err) });
  }
  var pages = (await fs.readFile('./client/pages/pages.json')).toString();
  var lastPages = (await fs.readFile('./client/pages/lastPages.json')).toString();
  if(pages != lastPages){
    fs.writeFile('./client/pages/lastPages.json', pages, {flag: 'w'}, (err) => {
      console.log(err);
    });
    var parsed = JSON.parse(pages);
    var info = JSON.parse((await include('../../pages/' + parsed[Object.keys(parsed)[0]] + '/info.json')).text);
    consts.sendNotification({
      title: 'New Post: ' + info.title,
      body: info.desc,
      icon: '/icon.png',
    });
  }
>>>