<<<
  if(params.type == 'auto')
    params.type = {
      '*Blog': 'on',
      '*Software': 'on',
      '*Hardware': 'on',
    }[params.label] || 'off';
>>>
<<<vars.type = params.mini ? '-mini' : ''>>>
<link rel="stylesheet" href="/body/partial/tag.css">
<<<vars.label = params.label.replace(/^([\*\/-])([^]*)/, function(_, idf, label){
  var tag = {'*': 'b', '/': 'i', '-': 'u'}[idf];
  return `<${tag}>${label}</${tag}>`;
})>>>
<<<vars.tag = params.mini ? 'div' : 'a'>>>
<<<yield '<' + vars.tag>>>
  class="tag tag<<<yield vars.type>>> tag-<<<yield params.type>>>"
  href="/tags/#<<<yield params.label.replace(/ /g, '-')>>>" onclick="reUpdate.utils.redirect(event)">
  <<<yield vars.label>>>
</<<<yield vars.tag>>> >
