
<style style="display: none;">
  .tags-list{
    background: var(--card-bg);
    margin: calc(var(--smart-unit) * 5) 7.5vw;
    padding: calc(var(--smart-unit) * 2);
    border-radius: calc(var(--smart-unit) * .5);
    box-shadow: var(--bs);
  }
  @media <<<yield consts.portrait>>>{
    .tags-list{
      margin-left: 0;
      margin-right: 0;
    }
  }
</style>


<div class="tags-list">
  <<
    //https://stackoverflow.com/questions/15669557/regex-match-pattern-as-long-as-its-not-in-the-beginning
    var hashTag = watch.hash;
    for(var list of document.getElementsByClassName('tags-list'))
      for(var tag of list.getElementsByClassName('tag'))
        if(hashTag && tag.href && tag.href.includes(hashTag) ||
          (hashTag == '' && tag.href [tag.href.length - 1] == '#')){
          tag.classList.add('tag-on');
          tag.classList.remove('tag-off');
        }else{
          tag.classList.add('tag-off');
          tag.classList.remove('tag-on');
        }
  >>
  <<<
    var tags = JSON.parse((await include('../../pages/tags.json')).text);
    if(params.all == true) tags.unshift('-All');
    yield include('../../body/partial/list.html', {
      incl: 'tag.html',
      params: new Array(tags.length).fill(null).map(function(){
        var tag = tags.shift();
        return {
          label: tag,
          type: 'off',
          mini: false,
        }
      })
    })
  >>>
</div>
