.body-grid{
  display: grid;
  grid-template-columns: 10vh 1fr 10vh;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "nav header aside"
    "nav main aside"
    "nav footer aside";
  header{ grid-area: header; }
  nav{ grid-area: nav; }
  aside{ grid-area: aside; }
  main{ grid-area: main; }
  footer{ grid-area: footer; }
}
