<style style="display: none;">
  .mosaic-full{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--smart-res-unit) * 22.5), 1fr));
    grid-gap: calc(var(--smart-unit) * 2.5);
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout*/
    grid-auto-flow: dense;
  }
	/*Portrait*/
	@media <<<yield consts.portrait>>>{
    .mosaic-full{
      grid-template-columns: 1fr;
    }
  }
</style>
<div class="mosaic-full">
  <<<
    var ids = params.ids.slice();
    var ids2 = []; //id list with empty cards
    while(ids.length > 0){
      if(Math.random() < (params.ids.length - ids.length + 1) / params.ids.length / 5) ids2.push('');
      else ids2.push(ids.shift());
    }
    yield  include('../../../body/partial/list.html', {
      incl: 'card.html',
      //https://medium.com/@wisecobbler/4-ways-to-populate-an-array-in-javascript-836952aea79f
      params: new Array(ids2.length).fill(null).map(function(){return {
        id: ids2.shift(),
        dir: Math.random() > .5 ? 'row' : 'col',
        inv: Math.random() > .5,
      }})
    })
  >>>
</div>
