<link rel="stylesheet" href="body/partial/card.css">
<<<vars.info = JSON.parse((await include('../pages/' + params.id + '/info.json')).text);>>>

<a class="card" href="">
  <img src="body/pages/<<<yield params.id>>>/thumbnail.jpg" alt="">
  <div class="markup-h2">
    <<<yield vars.info.title>>>
  </div>
  <<<//yield include('date.html', {date: vars.info.date})>>>
  <div class="desc"><<<yield vars.info.desc>>></div>
  <<<
    yield include('scroll.html', {
      items: include('list.html', {
        incl: 'tag.html',
        params: {type: 'on'},
        items: vars.info.tags,
      }),
      dir: 'row',
    })
  >>>
</a>
