/*https://www.w3schools.com/css/css3_variables.asp*/
:root{
  --bg: #000;
  --card-bg: #222;
  --card2-bg: #444;

  --color: #f44;
  --color2: #e22;

  --text: #bbb;
  --title: #fff;

  --smart-pixel-ratio: 3; /*the importance of the screen resolution in the scaling of items*/
  --smart-unit: 1vh;
}
@media (max-device-width: <<<yield consts.phone>>>){
  :root{ --smart-unit: 1vmax; }
}
:root{ --smart-res-unit: calc(var(--smart-unit) + calc(1px * var(--smart-pixel-ratio))); }
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*https://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font*/
  max-height: 999999999px;
  word-wrap: break-word;
}
body{
  font-size: calc(var(--smart-res-unit) * 2);
  /*https://www.hostinger.com/tutorials/best-html-web-fonts*/
  font-family: Calibri, Verdana, sans-serif;
  line-height: 1.6;
  width: 100%;
  overflow-x: hidden;
  color: var(--text);
  background: var(--bg);
}

::-webkit-scrollbar{
  width: 1vh;
  height: 1vh;
}
::-webkit-scrollbar-track{
  background: var(--bg);
  /*box-shadow: inset 5px 0 5px #000;*/
  /*background-clip: content-box;*/
}
::-webkit-scrollbar-thumb{
  background-color: rgba(255, 0, 0, .75);
  border-radius: .5vh;
  transition: background-color .25s ease-in-out;
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--color);
}
